<button
  class="back-to-top"
  [class.visible]="isVisible"
  (click)="scrollToTop()"
  (keydown)="onKeyDown($event)"
  [attr.aria-label]="'Scroll to top of page'"
  [attr.title]="'Back to top'"
  type="button"
  tabindex="0"
>
  <!-- <svg
    class="back-to-top__icon"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="#000"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    aria-hidden="true"
  >
    <polyline points="18 15 12 9 6 15" />
  </svg> -->
  <i class="fa fa-arrow-up back-to-top__icon"></i>
  <!-- Screen reader text -->
</button>
