<div id="container" class="container-fluid">
  <header>
    <h1>Customers</h1>

    <div class="btn-container">
      <app-search-field></app-search-field>
      <app-filter-button></app-filter-button>

      <app-button
        buttonText="Add Customer"
        routerLink="/admin/customers/add-customer"
      ></app-button>

      <select class="btn rounder-2">
        <option value="1" selected disabled>
          <i class="ri-file-download-line"></i> <span>Export</span>
        </option>
      </select>
    </div>
  </header>

  <div class="body">
    <div
      class="table-parent"
      *ngIf="!isLoading && customers.length > 0; else loading"
    >
      <table class="table table-striped table-hover">
        <thead class="thead">
          <tr>
            <td style="width: 30px">
              <input type="checkbox" (change)="toggleSelectAll()" />
            </td>
            <td>
              <strong class="d-flex align-items-center">
                Name <span><svg-icons name="reorder"></svg-icons></span>
              </strong>
            </td>
            <td><strong>Phone</strong></td>
            <td><strong>Email</strong></td>
            <td><strong>Location</strong></td>
            <td>
              <strong class="d-flex align-items-center">
                Created <span><svg-icons name="reorder"></svg-icons></span>
              </strong>
            </td>
            <td><strong>Action</strong></td>
          </tr>
        </thead>

        <tbody class="tbody" *ngIf="customers">
          <tr
            *ngFor="let customer of customers"
            style="cursor: pointer"
            [routerLink]="['/admin/customers', customer.customer_id]"
          >
            <td>
              <input
                type="checkbox"
                [checked]="customer.checked"
                (change)="toggleChecked(customer.id)"
              />
            </td>

            <td>
              <div class="customer d-flex align-items-center" style="gap: 8px">
                <div class="profile">
                  <img
                    [src]="
                      customer.photo_url || 'assets/images/profile-img.png'
                    "
                    alt="profile-img"
                    class="img-fluid"
                    style="width: 50px; height: 50px; border-radius: 100%"
                  />
                </div>
                <div class="name">{{ customer.name }}</div>
              </div>
            </td>

            <td>
              <span>{{ customer.phone }}</span>
            </td>
            <td>
              <span>{{ customer.email }}</span>
            </td>
            <td>
              <span>{{ customer.location }}</span>
            </td>
            <td>
              <span>{{ customer.created_at | date : "dd, MMM yyyy" }}</span>
            </td>

            <td>
              <div class="actions" (click)="$event.stopPropagation()">
                <app-dropdown
                  [ellipsis]="true"
                  [options]="[
                    {
                      label: 'View',
                      value: 'view',
                      icon: 'view-eye',
                      iconPosition: 'left'
                    },
                    {
                      label: 'Edit',
                      value: 'edit',
                      icon: 'pencil',
                      iconPosition: 'left'
                    },
                    {
                      label: 'Disable',
                      value: 'disable',
                      icon: 'times',
                      iconPosition: 'left'
                    }
                  ]"
                ></app-dropdown>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="pages">
        <div class="count">
          <span>{{ currentPage }} of {{ totalPages }}</span>
        </div>

        <app-pagination
          [totalItems]="totalCount"
          [itemsPerPage]="itemsPerPage"
          [currentPage]="currentPage"
          (pageChange)="onPageChange($event)"
        ></app-pagination>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="loading-table">
    <app-mini-loader></app-mini-loader>
  </div>
</ng-template>
