@use "../../../../styles.scss" as *;

#filter-modal-button {
  padding: 0.5rem 1rem;
  font-weight: 500;
  border: 2px solid transparent;
  border-radius: 6px;
  cursor: pointer !important;
  transition: all 0.2s;
  display: flex !important;
  justify-content: center;
  gap: 10px;
  align-items: center;

  i {
    width: 14.5px;
  }

  &:active {
    transform: scale(0.95);
  }
}
