<div class="sidebar-parent">
  <div class="sidebar">
    <div class="logo">
      <img src="assets/images/logo.png" alt="logo" class="img-fluid" />
    </div>
    <nav class="nav-parent">
      <ul class="nav">
        <li>
          <a routerLink="/">
            <span><svg-icons name="dashboard"></svg-icons></span>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a routerLink="/">
            <span><svg-icons name="people"></svg-icons></span>
            <span>Customer Management</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link d-flex justify-content-between align-items-center"
            data-bs-toggle="collapse"
            href="#restaurantNav"
            role="button"
            aria-expanded="false"
            aria-controls="restaurantNav"
          >
            <span>
              <svg-icons name="shop"></svg-icons>
              Restaurant Management
            </span>
            <i class="fa fa-chevron-down"></i>
          </a>

          <div class="collapse" id="restaurantNav">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" routerLink="/">Restaurant List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/">New Restaurant Request</a>
              </li>
              
            </ul>
          </div>
        </li>
        <li>
          <a routerLink="/">
            <span><svg-icons name="bike"></svg-icons></span>
            <span>Rider Management</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link d-flex justify-content-between align-items-center"
            data-bs-toggle="collapse"
            href="#ordernav"
            role="button"
            aria-expanded="false"
            aria-controls="ordernav"
          >
            <span>
              <svg-icons name="books"></svg-icons>
              Order Management
            </span>
            <i class="fa fa-chevron-down"></i>
          </a>

          <div class="collapse" id="ordernav">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" routerLink="/">Restaurant List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/">New Restaurant Request</a>
              </li>
              
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a
            class="nav-link d-flex justify-content-between align-items-center"
            data-bs-toggle="collapse"
            href="#advertnav"
            role="button"
            aria-expanded="false"
            aria-controls="advertnav"
          >
            <span>
              <svg-icons name="advertisement"></svg-icons>
              Advertisement
            </span>
            <i class="fa fa-chevron-down"></i>
          </a>

          <div class="collapse" id="advertnav">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" routerLink="/">Restaurant List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/">New Restaurant Request</a>
              </li>
              
            </ul>
          </div>
        </li>
        <li>
          <a routerLink="/">
            <span><svg-icons name="people"></svg-icons></span>
            <span>Employee Management</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
