@use "../../../styles.scss" as *;

.container {
  margin-top: 300px;
  max-width: 500px;

  #con {
    background: white;
    margin-top: 300px;
    flex-direction: column;
    padding: 40px;
    text-align: left;
    gap: 12px;
    width: 100%;

    .img-con {
      img {
        width: 100%;
      }
    }
  }
}
