<div class="container ">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-4 col-md-12 col-sm-12 d-flex align-items-center">
      <div class="signup-parent">
        <div class="signup shadow-sm">
          <div class="logo">
            <img src="assets/images/logo-full.png" alt="logo" />
          </div>
          <div class="form">
            <form >
                <div class="form-group">
                    <label for="fullname">Fullname <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter fullname...">
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
