<div id="container" class="container-fluid">
  <header class="mb-4">
    <app-h1 text="Branches" />

    <div class="btn-container">
      <label title="Search By Branch Name">
        <span><i class="fa-solid fa-magnifying-glass"></i></span>
        <input
          type="text"
          name="searchTerm"
          [(ngModel)]="searchTerm"
          (input)="applyFilters()"
          placeholder="Search By Branch Name"
        />
      </label>

      <div class="position-relative">
        <app-filter-button [text]="buttonText()" (click)="toggleFilterModal()">
          <span *ngIf="!isFilterModalOpen()"
            ><i class="ri-filter-3-fill"></i
          ></span>
          <span *ngIf="isFilterModalOpen()"
            ><i class="fa-solid fa-xmark"></i
          ></span>
        </app-filter-button>
        <div
          *ngIf="isFilterModalOpen()"
          id="filter-modal"
          class="container shadow-lg rounder-3"
        >
          <h1 class="special-h1">Filter</h1>
          <div class="row">
            <!-- Location -->
            <div class="modal-input-wrapper col-md-12">
              <h1>Location</h1>
              <select name="location">
                <option value="">Select Location</option>
                <option value="lagos">Lagos</option>
                <option value="abuja">Abuja</option>
                <option value="portharcourt">Port Harcourt</option>
                <option value="ibadan">Ibadan</option>
              </select>
            </div>
            <!-- Rating -->
            <div class="modal-input-wrapper col-md-12">
              <h1>Rating</h1>
              <select name="rating">
                <option value="">Select Rating</option>
                <option value="5">5 Stars</option>
                <option value="4">4 Stars</option>
                <option value="3">3 Stars</option>
                <option value="2">2 Stars</option>
                <option value="1">1 Star</option>
              </select>
            </div>
            <!-- Status -->
            <div class="modal-input-wrapper col-md-12">
              <h1>Status</h1>
              <select name="status">
                <option value="">Select Status</option>
                <option value="Open">Open</option>
                <option value="Closed">Closed</option>
                <option value="Under Maintenance">Under Maintenance</option>
              </select>
            </div>
            <!-- Buttons -->
            <div class="modal-input-wrapper col-md-6">
              <app-button
                color="secondary"
                buttonText="Clear Filter"
                style="width: 100%"
              ></app-button>
            </div>
            <div class="modal-input-wrapper col-md-6">
              <app-button
                buttonText="Apply Filter"
                style="width: 100%"
              ></app-button>
            </div>
          </div>
        </div>
      </div>

      <app-button
        buttonText="Add Branch"
        [routerLink]="`/admin/franchises/${franchiseId()}/branches/add-branch`"
      />
      <select class="btn rounder-2">
        <option value="1" selected disabled>
          <i class="ri-file-download-line"></i> <span>Export</span>
        </option>
      </select>
    </div>
  </header>
  <!-- ======= BEGINNING OF SECOND HALF OF THE PAGE ====== -->
  <!-- BREAKPOINT -->

  <div class="body">
    <ng-container *ngIf="!isLoading(); else loading">
      <ng-container *ngIf="branches.length > 0; else emptyList">
        <ng-container *ngIf="filteredBranches as filtered">
          <table
            class="table mt-3 table-hover"
            *ngIf="filteredBranches.length > 0; else noSearchResults"
          >
            <thead>
              <tr>
                <th>
                  <input
                    type="checkbox"
                    style="cursor: pointer"
                    [checked]="allChecked()"
                    (change)="toggleSelectAll()"
                  />
                  Branch Name <span><i class="ri-arrow-up-down-line"></i></span>
                </th>
                <th>Representative</th>
                <th>Location</th>
                <th>Phone Number</th>
                <th>Branch ID</th>
                <th>Rating</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <!-- BREAKPOINT -->
            <tbody>
              <tr
                *ngFor="let branch of filtered; index as i"
                class="mb-3"
                [class.checked]="branch.checked"
                style="cursor: pointer"
                tabindex="0"
                (click)="viewBranchDetails(branch.branch_id)"
                role="button"
              >
                <td>
                  <input
                    type="checkbox"
                    style="cursor: pointer"
                    [checked]="branch.checked"
                    (change)="toggleSelection(i)"
                    (click)="$event.stopPropagation()"
                  />
                  {{ branch.name }}
                </td>
                <td>
                  {{ branch.representative?.full_name || "No Representative" }}
                </td>
                <td>{{ branch.location || "N/A" }}</td>
                <td>{{ branch.phone }}</td>
                <td>{{ branch.branch_id }}</td>
                <td>
                  <span><img src="assets/images/Vector.png" /></span
                  >{{ branch.rating }}
                </td>
                <td
                  [style.color]="
                    branch.status === 'Open'
                      ? 'green'
                      : branch.status === 'Closed'
                      ? 'red'
                      : 'orange'
                  "
                >
                  {{ branch.status }}
                </td>
                <td class="position-relative" id="toolbar-container">
                  <button
                    class="toolbar-toggle rounded-3"
                    [class.active]="branch.isToolbarOpen"
                    (click)="
                      toggleVisibility(branch.id); $event.stopPropagation()
                    "
                  >
                    <i class="ri-more-2-fill"></i>
                  </button>
                  <ul
                    class="toolbar shadow visible"
                    [ngClass]="branch.isToolbarOpen ? 'visible' : 'hidden'"
                    (click)="$event.stopPropagation()"
                  >
                    <li (click)="viewBranchDetails(branch.branch_id)">
                      <span><i class="ri-eye-line"></i></span> View Details
                    </li>
                    <li (click)="viewBranchMenu(branch.branch_id)">
                      <span><i class="ri-restaurant-line"></i></span> View Menu
                    </li>
                    <li (click)="editBranch(branch.id)">
                      <span><i class="ri-pencil-line"></i></span> Edit
                    </li>
                    <li (click)="deleteBranch(branch.id)">
                      <span><i class="ri-delete-bin-line"></i></span> Delete
                    </li>
                    <li
                      class="toggle-container"
                      (click)="
                        toggleBranchStatus(branch.id); $event.stopPropagation()
                      "
                    >
                      <button class="status-toggle">
                        <i
                          [class]="
                            branch.status === 'Open'
                              ? 'fa-solid fa-toggle-on'
                              : 'fa-solid fa-toggle-off'
                          "
                        ></i>
                      </button>
                      {{
                        branch.status === "Open"
                          ? "Close Branch"
                          : "Open Branch"
                      }}
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="pages" *ngIf="filteredBranches.length > 0">
            <div class="count">
              <span>{{ currentPage }} of {{ totalPages }}</span>
            </div>

            <app-pagination
              *ngIf="totalPages >= 1"
              [totalCount]="totalCount"
              [itemsPerPage]="itemsPerPage"
              [currentPage]="currentPage"
              (pageChange)="onPageChange($event)"
            ></app-pagination>
          </div>
        </ng-container>
        <ng-template #noSearchResults>
          <div class="empty-wrapper">
            <empty-search />
          </div>
        </ng-template>
      </ng-container>
    </ng-container>

    <ng-template #loading>
      <app-mini-loader loadingText="getting branches" />
    </ng-template>

    <ng-template #emptyList class="mt-5">
      <app-empty-list />
    </ng-template>
  </div>
</div>
