@use "../../../../styles.scss" as *;

#container {
  background: white !important;
  padding: 24px;
  border-radius: 8px;

  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn-container {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }

  #divider {
    margin: 24px 0;
    max-width: 1100px;

    #left-section {
      img {
        width: 400px;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
        border: 1px solid $gray;
      }
    }

    .food-name {
      font-weight: 700;
      font-size: 24px;
    }

    p {
      .food-price {
        font-weight: 600;
        font-size: 16px;
      }
    }

    .food-details {
      font-weight: 700;
      font-size: 16px;
    }

    #p {
      font-size: 14px;
    }
  }
}

.rating-breakdown {
  div {
    margin-bottom: 8px;
    span {
      font-size: 0.875rem;
    }
    .progress {
      background-color: #f0f0f0;
    }
  }
}

.review-card {
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}
