<div class="dashboard-main">
    <div class="order-states">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="active-orders">
                    <div class="img">
                        <img src="assets/images/active-orders.png" alt="active-orders">
                    </div>
                    <div class="count">
                        <p>Active Orders</p>
                        <strong>
                            2390
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>