@use "../mini-loader/mini-loader.component.scss";

.spinner-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #33383f66;
  z-index: 9999;
}
