<div class="customer-overview">
  <div class="row">
    <!-- Left Sidebar with Customer List -->
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="profiles">
        <div class="heading">
          <div class="title">
            <h5>Customers</h5>
          </div>
        </div>

        <div class="search">
          <label title="Search By Restaurant Name">
            <span><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" placeholder="Search By Restaurant Name" />
          </label>
        </div>

        <div class="customers-list">
          <ul class="customers list-unstlyed">
            <li
              class="customer"
              *ngFor="let customer of customers"
              (click)="selectCustomer(customer)"
              [class.selected]="isSelected(customer)"
            >
              <div class="customer-content">
                <div class="img">
                  <img
                    [src]="
                      customer.photo_url || 'assets/images/profile-img.png'
                    "
                    alt="profile-img"
                    class="img-fluid object-fit-cover"
                  />
                </div>
                <div class="details">
                  <h5>{{ customer.name }}</h5>
                  <p>{{ customer.phone }}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Right Tabs Section -->
    <div class="col-lg-8 col-md-8 col-sm-12">
      <div class="tabs">
        <cus-tabs>
          <cus-tab label="Overview">
            <div class="col-6">
              <div class="profile-overview" *ngIf="customer">
                <div class="active">
                  <div class="alert">Active</div>
                  <div class="switch">
                    <toggle-switch
                      [checked]="isActive"
                      (toggled)="isActive = $event"
                    ></toggle-switch>
                  </div>
                </div>

                <div class="profile-info">
                  <div class="img">
                    <img
                      [src]="
                        customer.photo_url ||
                        'assets/images/profile-img-alt.png'
                      "
                      alt="profile-img"
                      class="img-fluid object-fit-cover"
                    />
                  </div>

                  <div class="details">
                    <ng-container>
                      <h4>{{ customer.name }}</h4>
                      <p>{{ customer.email }}</p>
                    </ng-container>
                  </div>

                  <div class="more-details">
                    <div>
                      <p>Phone Number</p>
                      <strong>{{ customer.phone }}</strong>
                    </div>

                    <div>
                      <p>University Student</p>
                      <strong>{{ customer.is_student ? "Yes" : "No" }}</strong>
                    </div>

                    <div>
                      <p>Location</p>
                      <strong>{{ customer.location }}</strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </cus-tab>

          <cus-tab label="Orders">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th><input type="checkbox" /></th>
                    <th>Order ID</th>
                    <th>Details</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let order of MOCK_CUSTOMER_ORDERS">
                    <td><input type="checkbox" /></td>
                    <td>{{ order.order_id }}</td>
                    <td>{{ order.details }}</td>
                    <td>{{ order.date | date : "MMM d, y" }}</td>
                    <td class="span-container">
                      <span
                        class="status-badge"
                        [ngClass]="getStatusClass(order.status)"
                      >
                        {{ order.status }}
                      </span>
                    </td>
                    <td>
                      <app-dropdown
                        [ellipsis]="true"
                        [options]="[
                          {
                            label: 'View Details',
                            value: 'view',
                            icon: 'eye',
                            iconPosition: 'left'
                          },
                          {
                            label: 'Cancel',
                            value: 'cancel',
                            icon: 'times',
                            iconPosition: 'left'
                          }
                        ]"
                      ></app-dropdown>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </cus-tab>
          <cus-tab label="Fav Restaurants"></cus-tab>
          <cus-tab label="Review & Rating"></cus-tab>
          <cus-tab label="Reward Point"></cus-tab>
        </cus-tabs>
      </div>
    </div>
  </div>
</div>
