<div class="customer-overview">
  <div class="row">
    <!-- Left Sidebar with Customer List -->
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="profiles">
        <div class="heading">
          <div class="title">
            <h5>Customers</h5>
          </div>
        </div>

        <div class="search">
          <label title="Search By Restaurant Name">
            <span><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" placeholder="Search By Restaurant Name" />
          </label>
        </div>

        <div class="customers-list">
          <ul class="customers list-unstlyed">
            <li
              class="customer"
              *ngFor="let customer of customers"
              (click)="selectCustomer(customer)"
              [class.selected]="isSelected(customer)"
            >
              <div class="customer-content">
                <div class="img">
                  <img
                    [src]="
                      customer.photo_url || 'assets/images/profile-img.png'
                    "
                    alt="profile-img"
                    class="img-fluid object-fit-cover"
                  />
                </div>
                <div class="details">
                  <h5>{{ customer.name }}</h5>
                  <p>{{ customer.phone }}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Right Tabs Section -->
    <div class="col-lg-8 col-md-8 col-sm-12">
      <div class="tabs">
        <cus-tabs>
          <cus-tab label="Overview">
            <div class="col-6">
              <div class="profile-overview" *ngIf="customer">
                <div class="active">
                  <div class="alert">Active</div>
                  <div class="switch">
                    <toggle-switch
                      [checked]="isActive"
                      (toggled)="isActive = $event"
                    ></toggle-switch>
                  </div>
                </div>

                <div class="profile-info">
                  <div class="img">
                    <img
                      [src]="
                        customer.photo_url ||
                        'assets/images/profile-img-alt.png'
                      "
                      alt="profile-img"
                      class="img-fluid object-fit-cover"
                    />
                  </div>

                  <div class="details">
                    <ng-container>
                      <h4>{{ customer.name }}</h4>
                      <p>{{ customer.email }}</p>
                    </ng-container>
                  </div>

                  <div class="more-details">
                    <div>
                      <p>Phone Number</p>
                      <strong>{{ customer.phone }}</strong>
                    </div>

                    <div>
                      <p>University Student</p>
                      <strong>{{ customer.is_student ? "Yes" : "No" }}</strong>
                    </div>

                    <div>
                      <p>Location</p>
                      <strong>{{ customer.location }}</strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </cus-tab>
          <!-- ============= END OF OVERVIEW TAB =============== -->
          <cus-tab label="Orders">
            <div class="table-responsive padded">
              <div
                class="btn-header m-2 w-100 d-flex justify-content-between align-items-center"
              >
                <app-h1 text="Customer" />
                <label title="Search By Order Name">
                  <span><i class="fa-solid fa-magnifying-glass"></i></span>
                  <input
                    type="text"
                    name="searchTerm"
                    [(ngModel)]="searchTerm"
                    placeholder="Search"
                  />
                </label>
              </div>
              <div class="mini-tabs-container">
                <cus-tabs>
                  <cus-tab *ngFor="let branch of branches" [label]="branch">
                    <table class="table table-hover mt-4">
                      <thead>
                        <tr>
                          <th class="checkbox">
                            <input
                              type="checkbox"
                              [checked]="allChecked(branch)"
                              (change)="toggleSelectAll(branch)"
                            />
                          </th>
                          <th>Order ID</th>
                          <th>Details</th>
                          <th>Date</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let order of getOrdersByBranch(branch);
                            index as i
                          "
                        >
                          <td class="checkbox">
                            <input
                              type="checkbox"
                              [checked]="order.checked"
                              (change)="toggleSelection(order)"
                            />
                          </td>
                          <td>{{ order.order_id }}</td>
                          <td>{{ order.details }}</td>
                          <td>{{ order.date | date : "MMM d, y" }}</td>
                          <td class="span-container">
                            <span
                              class="status-badge"
                              [ngClass]="getStatusClass(order.status)"
                            >
                              {{ order.status }}
                            </span>
                          </td>
                          <td>
                            <app-dropdown
                              [ellipsis]="true"
                              [options]="[
                                {
                                  label: 'View Details',
                                  value: 'view',
                                  icon: 'eye',
                                  iconPosition: 'left'
                                },
                                {
                                  label: 'Cancel',
                                  value: 'cancel',
                                  icon: 'times',
                                  iconPosition: 'left'
                                }
                              ]"
                            ></app-dropdown>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </cus-tab>
                </cus-tabs>
              </div>
            </div>
          </cus-tab>
          <!-- ============= END OF ORDERS TAB =============== -->
          <cus-tab label="Fav Restaurants">
            <div class="fav-restaurants-container">
              <div class="fav-card" *ngFor="let favRes of favRestuarants">
                <div class="img-wrapper">
                  <img
                    [src]="
                      favRes.restaurant_image_url ||
                      'assets/images/restaurant-placeholder.jpg'
                    "
                    alt="restaurant"
                    class="restaurant-img"
                  />
                  <div class="discount-badge">
                    {{ favRes.discount_percentage }}% OFF
                  </div>
                  <button class="favorite-icon">
                    <svg-icons name="love" />
                  </button>
                </div>

                <div class="details">
                  <div class="fav-info">
                    <h4>{{ favRes.name }}</h4>
                    <div class="rating">
                      <svg-icons name="star" />
                      <span>{{ favRes.rating }}</span>
                    </div>
                  </div>
                  <div class="meta">
                    <span>{{ favRes.estimated_delivery_time }}</span>
                    <span class="dot"></span>
                    <svg-icons name="location" />
                    <span>{{ favRes.location }}</span>
                  </div>
                </div>
              </div>
            </div>
          </cus-tab>
          <cus-tab label="Review & Rating">
            <div class="reviews-container">
              <div class="review-card" *ngFor="let review of customerReviews">
                <div class="header">
                  <div>
                    <h2>{{ review.orderId }}</h2>
                    <p class="restaurant-name mt-2">
                      {{ review.restaurantName }}
                    </p>
                  </div>
                  <div class="datetime">
                    {{ review.reviewedAt | date : "EEE, MMM d • hh:mm a" }}
                  </div>
                </div>

                <div
                  class="reviewed-items-container"
                  [class.bordered]="review.replys.length > 0"
                >
                  <div class="reviewed-items">
                    <div class="item" *ngFor="let item of review.reviewedItems">
                      <img [src]="item.imageUrl" alt="{{ item.itemName }}" />
                      <div class="details">
                        <p class="item-name">{{ item.itemName }}</p>
                        <p class="comment" *ngIf="item.comment">
                          {{ item.comment }}
                        </p>
                        <p class="no-comment" *ngIf="!item.comment">
                          No comment
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="footer">
                    <div class="stars">
                      <ng-container
                        *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
                      >
                        <svg-icons name="star" />
                      </ng-container>
                      <span class="status">
                        {{
                          review.rating >= 4
                            ? "Good"
                            : review.rating >= 2
                            ? "Okay"
                            : "Bad"
                        }}
                      </span>
                    </div>
                  </div>
                </div>

                <div class="reply" *ngIf="review.replys?.length">
                  <div *ngFor="let rep of review.replys">
                    <p class="reply-text">
                      <span class="review-icon-con"
                        ><svg-icons name="reply-alt" />
                      </span>
                      {{ rep.text }}
                    </p>
                    <div class="meta">
                      <span>Replied</span>
                      <span
                        >•
                        {{
                          rep.repliedAt | date : "EEE, MMM d • hh:mm a"
                        }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </cus-tab>
          <!-- ============= END OF RATINGS TAB =============== -->
          <cus-tab label="Reward Point">
            <div class="reward-points-container container-fluid">
              <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6"></div>
              </div>
            </div>
          </cus-tab>
        </cus-tabs>
        <!-- ============= END OF REWARD POINTS TAB =============== -->
      </div>
    </div>
  </div>
</div>
